<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blueocean.app.assistantmanage.dao.DrugOrderOpterationDao">
    
  <resultMap id="BaseResultMap" type="com.blueocean.app.customermanage.dto.DrugOrderDo">
     
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_status" jdbcType="CHAR" property="orderStatus" />
    <result column="order_type" jdbcType="CHAR" property="orderType" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_phone" jdbcType="VARCHAR" property="orderPhone" />
    <result column="order_addr" jdbcType="VARCHAR" property="orderAddr" />
    <result column="drug_recycle_site_id" jdbcType="INTEGER" property="drugRecycleSiteId" />
    <result column="drug_recycle_site_name" jdbcType="VARCHAR" property="drugRecycleSiteName" />
    <result column="recycle_count" jdbcType="INTEGER" property="recycleCount" />
    <result column="total_drug_price" jdbcType="DOUBLE" property="totalDrugPrice" />
    <result column="cash_coupon" jdbcType="DOUBLE" property="cashCoupon" />
    <result column="gmt_create" jdbcType="DATE" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="DATE" property="gmtModified" />
    <result column="order_time" jdbcType="DATE" property="orderTime" />
    <result column="order_complete_time" jdbcType="DATE" property="orderCompleteTime" />
    <result column="close_order_time" jdbcType="DATE" property="closeOrderTime" />
    <result column="is_activity" jdbcType="CHAR" property="isActivity" />
  </resultMap>
  <sql id="Base_Column_List">
   
    order_id, order_status, order_type, user_id, order_phone, order_addr, drug_recycle_site_id, 
    drug_recycle_site_name, recycle_count, total_drug_price, cash_coupon, gmt_create, 
    gmt_modified, order_time, order_complete_time, close_order_time, is_activity
  </sql>

 

  <insert id="insertNewOrder" parameterType="com.blueocean.app.assistantmanage.dto.DrugOrderOperationDto">
    
    insert into drug_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderPhone != null">
        order_phone,
      </if>
      <if test="orderAddr != null">
        order_addr,
      </if>
   
      <if test="recycleCount != null">
        recycle_count,
      </if>
     
      <if test="cashCoupon != null">
        cash_coupon,
      </if>
     
        gmt_create,
      
      
        order_time,
      
     
        order_complete_time,
     
        is_activity
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderPhone != null">
        #{orderPhone,jdbcType=VARCHAR},
      </if>
      <if test="orderAddr != null">
        #{orderAddr,jdbcType=VARCHAR},
      </if>
     
     
      <if test="recycleCount != null">
        #{recycleCount,jdbcType=INTEGER},
      </if>
      
      <if test="cashCoupon != null">
        #{cashCoupon,jdbcType=DOUBLE},
      </if>
        now(),
      
       now(),
       now(),
      1
    </trim>
  </insert>
  <update id="updateByOrderId" parameterType="map">
   
    update drug_order
    <set>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderPhone != null">
        order_phone = #{orderPhone,jdbcType=VARCHAR},
      </if>
      <if test="orderAddr != null">
        order_addr = #{orderAddr,jdbcType=VARCHAR},
      </if>
      <if test="drugRecycleSiteId != null">
        drug_recycle_site_id = #{drugRecycleSiteId,jdbcType=INTEGER},
      </if>
      <if test="drugRecycleSiteName != null">
        drug_recycle_site_name = #{drugRecycleSiteName,jdbcType=VARCHAR},
      </if>
      <if test="recycleCount != null">
        recycle_count = #{recycleCount,jdbcType=INTEGER},
      </if>
      <if test="totalDrugPrice != null">
        total_drug_price = #{totalDrugPrice,jdbcType=DOUBLE},
      </if>
      <if test="cashCoupon != null">
        cash_coupon = #{cashCoupon,jdbcType=DOUBLE},
      </if>
     
        gmt_modified = now(),
    
      <if test="orderTime != null">
        order_time = #{orderTime,jdbcType=DATE},
      </if>
      <if test="orderCompleteTime != null">
        order_complete_time = #{orderCompleteTime,jdbcType=DATE},
      </if>
      <if test="closeOrderTime != null">
        close_order_time = #{closeOrderTime,jdbcType=DATE},
      </if>
      <if test="isActivity != null">
        is_activity = #{isActivity,jdbcType=CHAR}
      </if>
    </set>
    where is_activity = 1 and order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  
   <update id="updateOrderByOrderId" parameterType="com.blueocean.app.assistantmanage.dto.MatchOrderDto">
   
	    update drug_order
	    <set>
	    
	        order_status = #{orderStatus,jdbcType=CHAR},
	     
	        user_id = #{userId,jdbcType=INTEGER},
	        cash_coupon = #{cashCoupon,jdbcType=DOUBLE},
	     
	        gmt_modified = now(),
	    
	        order_complete_time = now()
	    </set>
	    where is_activity = 1 and  order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  
  <select id="getDrugOrderInfo" resultType="com.blueocean.app.assistantmanage.dto.DrugOrderInfoDto" parameterType="string" >
   
      SELECT order_id orderId,order_time orderTime,order_type orderType,order_addr orderAddr,order_phone orderPhone
      ,`cash_coupon` cashCoupon
		FROM `drug_order` WHERE  is_activity = 1 and  order_id = #{orderId}
  </select> 
 
 
</mapper>